﻿@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PagesTitle"];
}

    <div class="row mb-3">
        <div class="col-12 mb-4">
            <h4 class="font-weight-bold text-center">@Localizer["Welcome"]</h4>
            <p class="text-secondary text-center">@Localizer["ProjectsIntroduction"]</p>
        </div>
        <div class="col-12 mb-5">
            <div class="d-flex flex-row align-items-center justify-content-center">
                <div class="badge badge-main-color mr-2">
                    @Localizer["PersonalProjectInitials"]
                </div>
                <p class="mb-0 text-secondary">@Localizer["PersonalProject"]</p>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            <div class="project rounded-lg shadow-sm d-flex flex-column">
                <img src="~/img/projects/leaders-guide.png" class="project-picture rounded-top" />
                <div class="p-3 d-flex flex-row justify-content-between align-items-center">
                    <p class="font-weight-bold m-0">@Localizer["LeadersGuide"]</p>
                    <div class="badge badge-secondary-color">
                        <p class="font-weight-light m-0">
                            @Localizer["WorkInProgress"]
                        </p>
                    </div>
                </div>
                <div class="p-3 project-desc">
                    <p class="text-secondary">
                        @Localizer["LeadersGuideDesc"]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
            <div class="project rounded-lg shadow-sm d-flex flex-column">
                <img src="~/img/projects/opinion-app.png" class="project-picture rounded-top" />
                <div class="p-3 d-flex flex-row justify-content-between align-items-center">
                    <p class="font-weight-bold m-0">@Localizer["OpinionsApp"]</p>
                    <div class="d-flex flex-row justify-content-between">

                    <div class="badge badge-secondary-color">
                        <p class="font-weight-light m-0">
                            @Localizer["WorkInProgress"]
                        </p>
                    </div>
                    <div class="badge badge-main-color ml-2">
                        <p class="font-weight-light m-0">
                            @Localizer["PersonalProjectInitials"]
                        </p>
                    </div>
                    </div>
                </div>
                <div class="p-3 project-desc">
                    <p class="text-secondary">
                        @Localizer["OpinionsAppDesc"]
                    </p>
                </div>
                <div class="p-2 pb-4 d-flex justify-content-center">
                    <a href="https://gitlab.com/geraldinecaby/opinions-app.git" target="_blank" class="btn main-color-bg rounded-pill text-white px-5 small-text visit-project cursor-pointer">
                        @Localizer["OpinionsAppButton"]
                        <img src="~/img/arrow.svg" class="ml-2 arrow-right" />
                    </a>
                </div>
            </div>
        </div>
    </div>